/* Google font - Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background: #212529;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Navigation link styles */
.nav-link {
  color: #808080;
  font-weight: 500;
}

/* Hover state styles for navigation links */
.nav-link:hover {
  color: #fff;
}

/* Active state styles for navigation links */
.nav-link.active {
  color: #fff;
}

/* Post styles */
.post-section {
  background: #2c3035;
  padding: 10px 20px;
  border: 1px solid #343a40;
  border-radius: 3px;
  margin-bottom: 20px;
}

/* Post name styles */
.post-name {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Hover state styles for posts name */
.post-name:hover {
  color: #adb5bd;
}

.text-muted {
  color: #adb5bd !important;
}
