/* Navigation link styles */
.nav-link {
  color: #808080;
  font-weight: 500;
}

/* Hover state styles for navigation links */
.nav-link:hover {
  color: #fff;
}

/* Active state styles for navigation links */
.nav-link.active {
  color: #fff;
}

/* Post styles */
.post-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

/* Post name styles */
.post-name {
  color: #666666;
  font-size: 25px;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Hover state styles for posts name */
.post-name:hover {
  color: #333333;
}

/* Styles for each posts metadata */
.post-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

/* Styles for each posts metadata a tag */
.post-metadata a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}
