{% extends "forum/base.html" %}

{% block title %}DIT-UOI Forum{% endblock title %}

{% block page_header %}
    <h3 class="text-center">Posts</h3>
    <div class="row">
        <div class="col">
            <hr class="mb-2 mt-0">
        </div>
    </div>
{% endblock page_header %}

{% block content %}
    {% for post in posts %}
        <article class="media post-section mb-4">
            <div class="media-body">
                <div class="post-metadata mb-2">
                    <small class="text-muted">
                        <span class="badge bg-secondary">Created: {{ post.timestamp|date:"d F, Y H:i" }}</span>
                        <span class="badge bg-secondary">Topic: {{ post.topic }}</span>
                        <span class="badge bg-secondary">Replies: {{ post.replies.all|length }}</span>
                        <span class="badge bg-secondary">Likes: {{ post.number_of_likes }}</span>
                    </small>
                </div>
                <h2><a class="post-name" href="{% url 'forum:post' post.id %}">{{ post.title }}</a></h2>
            </div>
        </article>
    {% empty %}
        <div class="container text-center mt-3">
            <h5>There are no posts.</h5>
        </div>
    {% endfor %}
{% endblock content %}
