{% extends "forum/base.html" %}

{% block title %}DIT-UOI Forum{% endblock title %}

{% block page_header %}
    <h3 class="text-center">Posts</h3>
    <div class="row">
        <div class="col">
            <hr class="mb-2 mt-0">
        </div>
    </div>
{% endblock page_header %}

{% block content %}
    {% for post in page_obj %}
        <article class="media post-section mb-4">
            <div class="media-body">
                <div class="post-metadata mb-2">
                    <small class="text-muted">
                        <span class="badge bg-secondary">By: {{ post.user.username }}</span>
                        <span class="badge bg-secondary">Topic: {{ post.topic }}</span>
                        <span class="badge bg-secondary">Replies: {{ post.replies.all|length }}</span>
                        <span class="badge bg-secondary">Likes: {{ post.number_of_likes }}</span>
                        <span class="badge bg-secondary">Created: {{ post.timestamp|date:"d F, Y H:i" }}</span>
                    </small>
                </div>
                <h2><a class="post-name" href="{% url 'forum:post' post.id %}">{{ post.title }}</a></h2>
            </div>
        </article>
    {% empty %}
        <div class="container text-center mt-3">
            <h5>There are no posts.</h5>
        </div>
    {% endfor %}
    <div class="pagination justify-content-center me-4 mt-4">
        <ul class="pagination">
            {% if page_obj %}
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link bg-dark text-white text-decoration-none"
                        href="?page={{ page_obj.previous_page_number }}"
                        style="outline: none;"
                        onclick="this.blur();">
                        &lt;&lt;
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link bg-dark text-white text-decoration-none"
                        href="#"
                        style="pointer-events: none; opacity: 0.6; cursor: not-allowed; outline: none;"
                        onclick="event.preventDefault();">
                        &lt;&lt;
                        </a>
                    </li>
                {% endif %}
        
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link bg-dark text-white text-decoration-none"
                        href="?page={{ page_obj.next_page_number }}"
                        style="outline: none;"
                        onclick="this.blur();">
                        &gt;&gt;
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link bg-dark text-white text-decoration-none"
                        href="#"
                        style="pointer-events: none; opacity: 0.6; cursor: not-allowed; outline: none;"
                        onclick="event.preventDefault();">
                        &gt;&gt;
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
{% endblock content %}
