{% extends "notes/base.html" %}

{% block title %}UOI-StudyNotes{% endblock title %}

{% block page_header %}
    <h3 class="text-center">Notes Archive</h3>
    <div class="row">
        <div class="col">
            <hr class="mb-2 mt-0">
        </div>
    </div>
{% endblock page_header %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success text-center" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% for note in page_obj %}
        <article class="media note-section mb-4">
            <div class="media-body">
                <h2><a class="note-name" href="{% url 'notes:note' note.id %}">[{{ note.subject }}] {{ note.title }}</a></h2>
                <p class="card-text">
                    <small class="text-muted">
                        By: {{ note.user.username }} | Department: {{ note.department }} | Comments: {{ note.comments.all|length }} | Likes: {{ note.number_of_likes }} | {{ note.timestamp|date:"d F, Y H:i" }}
                    </small>
                </p>
            </div>
        </article>
    {% empty %}
        <div class="container text-center mt-3">
            <h5>There are no notes.</h5>
        </div>
    {% endfor %}
    <div class="pagination justify-content-center me-4 mt-4">
        <ul class="pagination">
            {% if page_obj %}
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link bg-dark text-white text-decoration-none"
                        href="?page={{ page_obj.previous_page_number }}"
                        style="outline: auto;"
                        onclick="this.blur();">
                        &lt;&lt;
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link bg-dark text-white text-decoration-none"
                        href="#"
                        style="pointer-events: none; opacity: 0.6; cursor: not-allowed; outline: none;"
                        onclick="event.preventDefault();">
                        &lt;&lt;
                        </a>
                    </li>
                {% endif %}
        
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link bg-dark text-white text-decoration-none"
                        href="?page={{ page_obj.next_page_number }}"
                        style="outline: auto;"
                        onclick="this.blur();">
                        &gt;&gt;
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link bg-dark text-white text-decoration-none"
                        href="#"
                        style="pointer-events: none; opacity: 0.6; cursor: not-allowed; outline: none;"
                        onclick="event.preventDefault();">
                        &gt;&gt;
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
{% endblock content %}

{% block footer %}
    <footer class="footer bg-dark text-light py-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <hr class="border-light mb-2">
                </div>
                <div class="col-md-8 text-center">
                    <p class="mt-1 mb-0">&copy; 2024 KafetzisThomas</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock footer %}
