{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock title %}

{% block content %}
    <h2>Log in to your account.</h2>
    <form method="POST" action="{% url 'users:login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-grid gap-2">
            <button name="submit" class="btn btn-primary">Log In</button>
            <input type="hidden" name="next" value="{% url 'notes:notes' %}" />
        </div>
    </form>
{% endblock content %}
